extends layout 
block content
  .inner
    h3=title
    form.form(action =`/add`, method='POST')
      label(name='title') Podcast title
      input(name='title', type='text')
      input(type='submit', value='Save Podcast')
